<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Terméklista Creating form</title>

  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

  <h3 class="pt-5">Terméklista létrehozás</h3>

  <div class="row">
    <div class="col-md-4 mt-5">
      <form method="post"
            th:action="@{/termek-lista/create}">
        <div class="form-group">
          <label for="name">Terméklista készítő form</label>
        </div>
        <div class="form-group">
          <label for="id">ID</label>
          <input type="number"
                 id="id"
                 name="id"
                 readonly
                 class="form-control"
                 />
        </div>
        <div class="form-group">
          <label for="marka">Márka</label>
          <input type="text"
                 id="marka"
                 name="marka"
                 class="form-control"
                 />
        </div>
        <div class="form-group">
          <label for="ar">Ár</label>
          <input type="text"
                 id="ar"
                 name="ar"
                 class="form-control"
                 />
        </div>
        <div class="form-group">
          <label for="energiabesorolas">Energia besorolás</label>
          <input type="text"
                 id="energiabesorolas"
                 name="energiabesorolas"
                 class="form-control"
                 />
        </div>
        <div class="form-group">
          <label for="kiegeszitok">Kiegészítők</label>
          <input type="text"
                 id="kiegeszitok"
                 name="kiegeszitok"
                 class="form-control"
                 />
        </div>/>
        </div>

        <button class="btn btn-primary pt-2 mt-2"
                type="submit">Szerepjáték készítés
        </button>
        <a th:href="@{/termek-lista/create}"
           class="btn btn-secondary pt-2 mt-2"
           type="submit">Mégsem</a>
      </form>
    </div>
  </div>

</div>

<script>

</script>

</body>
</html>